<!DOCTYPE html>
<html>
<body>

<center>

<h1>Confirmation</h1>
<form action = "/next" method = "POST" 
   enctype = "multipart/form-data">
   Method chosen successfully.<br>
   
  </br> Now choose the data you want below:
</form>

<h2>Choose</h2>
<form action = "/next" method = "POST" 
   enctype = "multipart/form-data">
  <input type="checkbox" id="Data1" name="Data1" value="Drawing Title" onclick="check2()">
  <label for="vehicle1"> Drawing Title</label><br>
  <input type="checkbox" id="Data2" name="Data2" value="Drawing Number" onclick="check2()">
  <label for="vehicle2"> Drawing Number</label><br>
  <input type="checkbox" id="Data3" name="Data3" value="Issue Status" onclick="check2()">
  <label for="vehicle2"> Issue Status</label><br>
  <input type="checkbox" id="Data4" name="Data4" value="Creation Date" onclick="check2()">
  <label for="vehicle2"> Creation Date</label><br>
  <input type="checkbox" id="Data5" name="Data5" value="Revision" onclick="check2()">
  <label for="vehicle2"> Revision</label><br>
  <input type="checkbox" id="Data6" name="Data6" value="Paper Size" onclick="check2()">
  <label for="vehicle2"> Paper Size</label><br>
  <input type="checkbox" id="Data7" name="Data7" value="Scale" onclick="check2()">
  <label for="vehicle2"> Scale</label><br>
  <input type="checkbox" id="Data8" name="Data8" value="Page" onclick="check2()">
  <label for="vehicle2"> Page</label><br>
  </br><input type = "submit" value="Submit" name="submitter2"/>
</form>

</center>

<script type = "text/javascript">

function check2() {
	 if(document.getElementsByName("Data1")[0].checked === false && 
    	document.getElementsByName("Data2")[0].checked === false &&
    	document.getElementsByName("Data3")[0].checked === false &&
    	document.getElementsByName("Data4")[0].checked === false &&
    	document.getElementsByName("Data5")[0].checked === false &&
    	document.getElementsByName("Data6")[0].checked === false &&
    	document.getElementsByName("Data7")[0].checked === false &&
    	document.getElementsByName("Data8")[0].checked === false
    ) { 
            document.getElementsByName("submitter2")[0].disabled = true; 
        } else { 
            document.getElementsByName("submitter2")[0].disabled = false;
        }
    };

window.onload=check2();

</script>

</body>
</html>