<!DOCTYPE html>
<html>

<body>

<center>
<h1>Confirmation</h1>
<form action = "/download" method = "POST" 
   enctype = "multipart/form-data">
   Data extracted and tables generated successfully<br>
   
   </br>Download the data below:
</form>

<h2>Download Links</h2>
Only the buttons for the data you chose will work, otherwise error will appear. <br>
<br><form action = "/download" method = "POST" 
    enctype = "multipart/form-data">
    OCR Data Table: <a href="/download"><button class='btn btn-default'>Download</button></a>
</form>

<br><form action = "/download1" method = "POST" 
    enctype = "multipart/form-data">
    Text Read Data Table: <a href="/download1"><button class='btn btn-default'>Download</button></a>
</form>
<br><form action = "/download2" method = "POST" 
    enctype = "multipart/form-data">
    Combined Data Table: <a href="/download2"><button class='btn btn-default'>Download</button></a>
</form>

<h3>Delete PDF + Data from Server</h3>
<form action = "/delete" method = "POST" 
   enctype = "multipart/form-data">
   Delete Data From Server: <input type = "submit" value ="Delete"/>
</form>
</center>

</body>
</html>

</script>