<!DOCTYPE html>
<html>
<body>

<center>

<h1>Confirmation</h1>
<form action = "/final" method = "POST" 
   enctype = "multipart/form-data">
   Data chosen successfully.<br>
   
   </br>Press the button below to extract the data:
</form>

<h2>Extract</h2>
<form action = "/final" method = "POST" 
   enctype = "multipart/form-data">
   <input type="submit" value="Continue" name="genbutton" onclick="this.form.submit(); this.disabled=true; this.value='working...'"/>
</form> 

<h3></h3>
<form action = "/final" method = "POST" 
   enctype = "multipart/form-data">
   Data generation process may take a minute or two, depending on size of file and choices...
</form>

<!--

Do progress bar here

-->

<center>



</body>
</html>