<!DOCTYPE html>
<html>

<script type ="text/javascript">

var select = [{{ selection[0] }}, {{ selection[1] }}, {{selection[2] }}];

</script>

<center>
<body>

<h1>Confirmation</h1>
   Data files generated successfully: Download the data below

<h2>Download Links</h2>
Only the buttons relating to the data you chose will work <br>
<br><form action="/download" method="POST" 
    enctype = "multipart/form-data">
    OCR Data Table: <a name="/download" href="/download"></a><button class='btn btn-default' onclick="this.form.submit(); disabledown();" name="button" disabled>Download</button>
</form>

<form action = "/dataframe" method = "POST" enctype = "multipart/form-data"><FONT COLOR="#ffffff">OCR Data Table: </FONT><button class='btn btn-default' name="prev">Preview</button></form>

<br><form action = "/download1" method = "POST" 
    enctype = "multipart/form-data">
    Text Read Data Table: <a name="/download1" href="/download1"></a><button class='btn btn-default' onclick="this.form.submit(); disabledown1();" name="button1" disabled>Download</button>
</form>

<form action = "/dataframe1" method = "POST" enctype = "multipart/form-data"><FONT COLOR="#ffffff">Text Read Data Table: </FONT><button class='btn btn-default' name="prev1">Preview</button></form>

<br><form action = "/download2" method = "POST" 
    enctype = "multipart/form-data">
    Combined Data Table: <a name="/download2" href="/download2"></a><button class='btn btn-default' onclick="this.form.submit(); disabledown2();" name="button2" disabled>Download</button>
</form>

<form action = "/dataframe2" method = "POST" enctype = "multipart/form-data"><FONT COLOR="#ffffff">Combined Data Table: </FONT><button class='btn btn-default' name="prev2">Preview</button></form>

<h3>Delete PDF + Data from Server</h3>
<form action = "/delete" method = "POST" 
   enctype = "multipart/form-data">
   Delete Data From Server: <input type = "submit" value ="Delete"/>
</form>


<script type ="text/javascript">

function success() {
	 if(select[0]=== 1) { 
            document.getElementsByName("button")[0].disabled = false; 
        } else { 
            document.getElementsByName("button")[0].disabled = true;
        }
    };
    
function disabledown() {
    const downbut = document.getElementsByName("button")[0];
    downbut.disabled = true;
    setTimeout(() => {
        downbut.disabled = false
        }, 500);
    };
    
function success1() {
	 if(select[1]=== 1) { 
            document.getElementsByName("button1")[0].disabled = false; 
        } else { 
            document.getElementsByName("button1")[0].disabled = true;
        };
    };
    
function disabledown1() {
    const downbut1 = document.getElementsByName("button1")[0];
    downbut1.disabled = true;
    setTimeout(() => {
        downbut1.disabled = false
        }, 500);
    };

function success2() {
	 if(select[2]=== 1) { 
            document.getElementsByName("button2")[0].disabled = false; 
        } else { 
            document.getElementsByName("button2")[0].disabled = true;
        }
    };
    
function disabledown2() {
    const downbut2 = document.getElementsByName("button2")[0];
    downbut2.disabled = true;
    setTimeout(() => {
        downbut2.disabled = false
        }, 500);
    };
    
function prev() {
	 if(select[0]=== 1) { 
            document.getElementsByName("prev")[0].disabled = false; 
        } else { 
            document.getElementsByName("prev")[0].disabled = true;
        }
    };
    
function prev1() {
	 if(select[1]=== 1) { 
            document.getElementsByName("prev1")[0].disabled = false; 
        } else { 
            document.getElementsByName("prev1")[0].disabled = true;
        }
    };
    
function prev2() {
	 if(select[2]=== 1) { 
            document.getElementsByName("prev2")[0].disabled = false; 
        } else { 
            document.getElementsByName("prev2")[0].disabled = true;
        }
    };

window.onload=success();
window.onload=success1();
window.onload=success2();
window.onload=prev();
window.onload=prev1();
window.onload=prev2();

</script>
</body>
<center>

</html>
