<!DOCTYPE html>
<html>
<body>

<center>

<h1>Confirmation</h1>
<form action = "/return" method = "POST" 
   enctype = "multipart/form-data">
   Your data has been successfully removed from the servers.<br>
   
   </br>If you wish to collect data from another PDF, click the button below to return to the start:
</form>

<h4>Return</h4>
<!--<b>Return Button Below</b>-->
<!--
<form action = "/return" method = "POST" 
    enctype = "multipart/form-data">
    <button class='btn btn-default'>Return</button></a>
    -->
    <a href="{{ url_for('login') }}"><button>Return</button>
    </a>
</form>

</form>
</center>

</body>
<center>

</html>