<!DOCTYPE html>
<html>
<head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
</head>
<body>


<center>
<div class="a">
<div class="head"><h2>PDF Data Extractor - OCR + Text Read</h2></div>
Select the PDF you want to have data extracted from, the method of extraction and the data to extract. Then press the submit button.<br>
<br><form action = "/downloads" method = "POST" 
    enctype = "multipart/form-data">
    <b>Choose your PDF File: </b><input type="file" accept=".pdf" name="file" Id = "a" onchange="megafunc(); inputfun();"/><br>
    
    </br><object data="" id="blob1" name="blob1" width="1100" height="766"></object><br>
    
    </br>
    <text 
    </br>
</div>
</center>


<div class="e">
<br></br>
<br></br>
   <center>
   <div class="b">
   </br>Choose methods (OCR/TEXT) below: </div></center>
<center><div class="b">
<h3>Methods</h3>
  <input type="checkbox" id="Method1" name="Method1" value="OCR" onclick="megafunc()">
  <label for="vehicle1"> OCR</label><br>
  <input type="checkbox" id="Method2" name="Method2" value="Text" onclick="megafunc()">
  <label for="vehicle2"> Text</label><br>
  </br>
</div>
</center>


<center>
<div class="b">
  </br> Choose the data you want below:

<h3>Data</h3>
  <input type="checkbox" id="Data1" name="Data1" value="Drawing Title" onclick="megafunc()">
  <label for="vehicle1"> Drawing Title</label><br>
  <input type="checkbox" id="Data2" name="Data2" value="Drawing Number" onclick="megafunc()">
  <label for="vehicle2"> Drawing Number</label><br>
  <input type="checkbox" id="Data3" name="Data3" value="Issue Status" onclick="megafunc()">
  <label for="vehicle2"> Issue Status</label><br>
  <input type="checkbox" id="Data4" name="Data4" value="Creation Date" onclick="megafunc()">
  <label for="vehicle2"> Creation Date</label><br>
  <input type="checkbox" id="Data5" name="Data5" value="Revision" onclick="megafunc()">
  <label for="vehicle2"> Revision</label><br>
  <input type="checkbox" id="Data6" name="Data6" value="Paper Size" onclick="megafunc()">
  <label for="vehicle2"> Paper Size</label><br>
  <input type="checkbox" id="Data7" name="Data7" value="Scale" onclick="megafunc()">
  <label for="vehicle2"> Scale</label><br>
  <input type="checkbox" id="Data8" name="Data8" value="Page" onclick="megafunc()">
  <label for="vehicle2"> Page</label><br>
  </br>
</div>
</center>


<center>   <div class="b">
   </br>Press the button below to extract the data:

<h3>Extract</h3>
   <input type="submit" value="Continue" name="genbutton" onclick="this.form.submit(); this.disabled=true; this.value='working...'"/>
<h3></h3>
   Data generation process may take a minute or two, <br> depending on size of file and choices...
</form>
</div>
</center>
</div>


<script type ="text/javascript">

function inputfun() {
    var pdfblob = (window.URL || window.webkitURL).createObjectURL(document.getElementsByName("file")[0].files[0]);
    var blob1 = document.getElementsByName("blob1");
    blob1[0].setAttribute("data", pdfblob + "#toolbar=0&navpanes=0&scrollbar=0" + "#page=1");
    };

function megafunc() {
    if(document.getElementsByName("file")[0].value === "")
        {document.getElementsByName("genbutton")[0].disabled = true;
        } else if 
            (document.getElementsByName("Method1")[0].checked === false && 
            document.getElementsByName("Method2")[0].checked === false) 
            {
            document.getElementsByName("genbutton")[0].disabled = true;}
            else if 
                (document.getElementsByName("Data1")[0].checked === false && 
             	document.getElementsByName("Data2")[0].checked === false &&
               	document.getElementsByName("Data3")[0].checked === false &&
               	document.getElementsByName("Data4")[0].checked === false &&
               	document.getElementsByName("Data5")[0].checked === false &&
               	document.getElementsByName("Data6")[0].checked === false &&
               	document.getElementsByName("Data7")[0].checked === false &&
               	document.getElementsByName("Data8")[0].checked === false)
               	{document.getElementsByName("genbutton")[0].disabled = true;}
               	
        	else {document.getElementsByName("genbutton")[0].disabled = false;}
        	}
   	
window.onload=megafunc();

</script>


</body>
</html>
