<!DOCTYPE html>
<html>
<body>

<!--
<script src="https://zwibbler.com/zwibbler-demo.js"></script>

<zwibbler z-canvas style="width:800px;height:500px">

<object data="" id="blob1" name="blob1" width="1100" height="760"></object>

</zwibbler>
-->

<center>
<h2>Upload File</h2>
Select the PDF you want to have data extracted from and press 'Submit'<br>
<br><form action = "/upload" method = "POST" 
    enctype = "multipart/form-data">
    <b>Choose your File: </b><input type="file" accept=".pdf" name="file" Id = "a" onchange="grey_out(); inputfun();"/><br>
    
    </br><object data="" id="blob1" name="blob1" width="1100" height="760"></object><br>

    
    </br><b>Submit: </b><input type="submit" value="Submit" name="submitpdf"/><br>
    <text 
    </br>
</form>
</center>

<script type ="text/javascript">

function inputfun() {
    var pdfblob = (window.URL || window.webkitURL).createObjectURL(document.getElementsByName("file")[0].files[0]);
    var blob1 = document.getElementsByName("blob1");
    blob1[0].setAttribute("data", pdfblob + "#toolbar=0&navpanes=0&scrollbar=0");
    };

function grey_out() {
    if(document.getElementsByName("file")[0].value === "") {
            document.getElementsByName("submitpdf")[0].disabled = true;
        } else {
            document.getElementsByName("submitpdf")[0].disabled = false;
            }
        };
    
window.onload=grey_out();

</script>


<!--
<div style="float: left">Left Text</div>
<div style="float: right">Right Text</div>
<div style="margin: 0 auto; width: 100px;">Centered Text</div>
-->



</body>
</html>


<!--

    <right><embed type="application/pdf" id="blob2" name="blob2" src={} width="1500" height="600"></embed></right>









  function inputfun() {
      if ((window.URL || window.webkitURL).createObjectURL(document.getElementsByName("file")[0].files[0]) = '0') {
          pdfval = "";
    } else  {
      pdfval = (window.URL || window.webkitURL).createObjectURL(document.getElementsByName("file")[0].files[0]) }
  document.getElementsByName("blob1").setAttribute("data", pdfval);
  document.getElementsByName("blob2").setAttribute("src", pdfval);
  }


<script type ="text/javascript">

  var pdfval = (window.URL || window.webkitURL).createObjectURL(document.getElementById("file")[0].files[0]);
  var element = document.getElementById("blob1");
  var element1 = document.getElementById("blob2");

  function inputfun() {
    element.setAttribute("data", pdfval);
    element1.setAttribute("src", pdfval);
  }

</script>

<script type=src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js">
function gen() {
$(document).ready(function1(){
    $("object#o").on('change',function2(){
        document.getElementById("blob1").setAttribute("data", (window.URL || window.webkitURL).createObjectURL(document.getElementById("file")[0].files[0]));
    });
});
}
</script>

<script>
       function example(){
               alert('success');
       }
</script>



<script type ="text/javascript">

  var pdfval = (window.URL || window.webkitURL).createObjectURL(document.getElementById("file")[0].files[0]);
  var element = document.getElementById("blob1");
  var element1 = document.getElementById("blob2");

  function inputfun() {
    document.getElementById("blob1").setAttribute("data", (window.URL || window.webkitURL).createObjectURL(document.getElementById("file")[0].files[0]));
    document.getElementById("blob2").setAttribute("src", (window.URL || window.webkitURL).createObjectURL(document.getElementById("file")[0].files[0]));
  }

</script>













<object data="https://media.geeksforgeeks.org/wp-content/cdn-uploads/20210101201653/PDF.pdf" width="800" height="500">
    <button onclick="show_pdf()">Click to see PDF preview</button>

<script src="{{url_for('static', filename='blob.js')}}"></script>  

(window.URL || window.webkitURL).createObjectURL(document.getElementsByName("pdf")[0].files[0])

    </br><object data=""
        #                             <object data="https://media.geeksforgeeks.org/wp-content/cdn-uploads/20210101201653/PDF.pdf" 
        #                                     width="800"
        #                                     height="500">
        
        

<object data="data:application/pdf;base64,<?php echo base64_encode($content) ?>" type="application/pdf" style="height:200px;width:60%"></object>



<script type ="text/javascript">

function blobgen() {
	 (window.URL || window.webkitURL).createObjectURL(document.getElementsByName("file")[0].files[0])
    }

</script>



    let blob = createObjectURL(document.getElementsByName("file")[0].files[0]);

    btn.addEventListener('click', () => {
        let rates = document.getElementsByName('rate');
        rates.forEach((rate) => {
            if (rate.checked) {
                output.innerText = `You selected: ${rate.value}`;
            }
        });

    });



</br><form action = "/show" method = "POST"
    enctype = "multipart/form-data">
    <embed src="/show" type="application/pdf" width="100% height="1000px" />


-->